build/cyverse/apps
build/cyverse/dnasub_apps/cache
assets/*
.built.*
*.img
*.img.bz2
genome.*
annotation.*
original.*
*.original
*.gz
*.bz2
*.tgz
*.zip
*.fai
*.fa
*.fasta
*.fas
*.fq
*.fastq
*.bam
*.bai
*.zip
*.env
*.variables
*.singularity
*.stderr
