cuffdiff_out/
cuffmerge_out/
*.stderr
genome.*
annotation.*
original.*
*.original
*.gtf
*.txt
*.gz
*.bz2
*.tgz
*.zip
*.fai
*.fa
*.fasta
*.fas
*.fq
*.fastq
*.bam
*.bai
*.zip
*.env
*.variables
*.singularity
